apiVersion: apps/v1
kind: Deployment
metadata:
    name: events-depl
spec:
    replicas: 1
    selector:
        matchLabels:
            app: events
    template:
        metadata:
            labels:
                app: events
        spec:
            containers:
                - name: events
                  image: g8h9/events
                  env:
                    - name: JWT_KEY
                      value: 'a749fj623jd6'
---
apiVersion: v1
kind: Service
metadata:
    name: events-srv
spec:
    selector:
        app: events
    ports:
        - name: events
          protocol: TCP
          port: 3000
          targetPort: 3000